/* Colors CSS */

// items color
$vk-item-color: #55f;
$portfolio-item-color: #22f;
$phone-item-color: #f55;

// messengers
$telegram-link-color: #77f;
$whatsapp-link-color: #7f7;
$viber-link-color: #f77;

// hovers
$vk-hover-color: #99f;
$portfolio-hover-color: #0ff;
$phone-hover-color: #f55;

$textlink-hover-color: #212121;
$messengers-hover-color: rgb(255, 71, 5);