/* Style SCSS (CSS) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #121212;
  color: #fff;
}


@import '__colors.scss'; // import colors
@import '__fonts.scss';

@import '__main.scss';  // import main style file
@import '__hover.scss'; // import hovers
@import '__media.scss'; // import media queries